body {
    margin: 0;
}

.node {
    cursor: pointer;
}
.overlay{
    background-color:#EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px;
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
    opacity: 0.5;
}
.templink {
    fill: none;
    stroke: #5c608d;
    stroke-width: 1px;
}
.ghostCircle.show{
    display:block;
}
.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}
